<a href="https://colab.research.google.com/github/Velanjali/Basic-ML/blob/main/Python_simple_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python programs

In [ ]:
#Python program to print maximum of two numbers.
#getting input from user
a = 54
b = 90
#printing the maximum value
if (a>b):
  print(a)
else:
  print(b)

90

In [ ]:
#Python program to display multiplication table.
#getting input
a = 5
#printing the multiplication table
for i in range(1,a+1):
  print(a*i)

5
10
15
20
25

In [ ]:
#Python program to print sum of first 10 natural numbers.
#getting input
n = 6551
sum = 0
#printing the sum
for i in range(1,n+1,1):
  sum += i
print(sum)

21461076